@use '../abstracts' as *;

//App
$app-accent: #a3d168;
$app-bg: #f5f5f5;
$page-bg: #fbfbfb;
$page-title: #2c2c2c;

//Navbar
$nav-link: rgba(0, 0, 0, 0.72);
// --- Menu
$menu-bg: #f1f1f1;
$menu-border: #c1c1c1;
$menu-burger-button: #6a6a6a;
$menu-label: #787878;
$menu-link: #5e5e5e;

//Footer
$footer-bg: #e1e1e1;
$footer-border: #b4b4b4;
$footer-link: #2c2c2c;
$footer-copyright: #818181;

//Home
$home-title: rgba(32, 32, 32, 0.77);
$home-info: #616161;
$home-info-bg: rgb(224, 224, 224);

//filter
$input-icon: #9b9b9b;
$input-bg: #e5e5e5;
$input-text: #474747;
$filter-label: rgba(46, 46, 46, 0.53);
$filter-founded: rgb(61, 153, 230);
$filter-error: rgb(238, 91, 46);
$result-border: rgb(138, 138, 138);

//buttons
$login-btn: #444444;
