@use '../abstracts' as *;
@use '../themes' as *;

*,
*:before,
*:after {
  box-sizing: border-box;
  @include rst;
}

body,
html {
  line-height: 1.5;
  background-color: $app-bg;
  @include rst;
  font-size: 16px;
  height: 100%;
  width: 100%;
}

*:focus:not(:focus-visible) {
  outline: none;
  box-shadow: none;
}
*:focus-visible {
  outline: none;
  border-radius: 3px;
  box-shadow: 0 0 0 2px #a3d168;
}
