@use '../abstracts' as *;
@use '../themes' as *;

h1,
h2,
h3,
h4,
p,
a {
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  text-decoration: none;
  font-family: $primary-font;
  transition: 0.2s;
}

a,
button {
  cursor: pointer;
  text-decoration: none;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

li {
  list-style: none;
}

//Nav Menu
.footer-label {
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
  color: $menu-label;
}

.menu--link {
  color: $menu-link;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: -0.025em;
  @include flexCenter(row, 0);
  justify-content: space-between;
  @include on-hover {
    color: hover-color($menu-link, 30);
  }
  &:active {
    color: hover-color($menu-link, 30);
  }
}

.footer-link {
  color: $footer-link;
  text-decoration: underline;
  text-underline-offset: 0.1rem;
  font-weight: 500;
  font-size: 0.9rem;
  @include media($from: 'md') {
    font-size: 1rem;
  }
  @include on-hover {
    color: hover-color($footer-link, 30);
  }
  &:active {
    color: hover-color($footer-link, 30);
  }
}

.footer-copy {
  color: $footer-copyright;
  letter-spacing: -0.01em;
  font-weight: 400;
  font-size: 0.9rem;
}

.navbar-link {
  font-family: $secondary-font;
  color: $nav-link;
  font-weight: 500;
  font-size: 0.9rem;
  @include on-hover {
    color: hover-color($nav-link, 30);
  }
  &:active {
    color: hover-color($nav-link, 30);
  }
  &.active {
    color: hover-color($nav-link, 40);
  }
}

.start-content-title {
  color: $home-title;
  font-weight: 500;
  font-size: 3.5rem;
  line-height: 93%;
  @include media($from: 'xl') {
    font-size: 5rem;
  }
  span {
    color: $page-title;
    font-weight: 800;
  }
}

.start-content-description {
  color: $page-title;
  font-weight: 600;
  font-size: 1rem;
  line-height: 19px;
  margin-top: 0.5rem;
  @include media($from: 'md') {
    max-width: 90%;
    font-size: 1.1rem;
  }
}

.home-events-title {
  color: $home-title;
  font-style: normal;
  font-weight: 600;
  font-size: 2.9rem;
  line-height: 48px;
}

.events-info-title {
  position: absolute;
  top: 0;
  left: 1.5rem;
  width: 100%;
  width: 100%;
  max-width: 100%;
  min-width: 12rem;
  text-align: center;
  padding: 0.1rem 0.3rem;
  border-radius: 10px;
  color: $home-info;
  background-color: $home-info-bg;
  margin-right: 1rem;
  animation: smoothShow 250ms;
}
