@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

$primary-font: 'Lato', sans-serif;
$secondary-font: 'Open Sans', sans-serif;

$height: 100% !default;
$width: 100% !default;
