@use '../abstracts' as *;
@use '../themes' as *;

.authentication-main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  @media (min-height: 400px) and (min-width: 680px) {
    height: 100vh;
  }
  .authentication-wrapper {
    position: relative;
    min-width: 22rem;
    width: 100%;
    margin: 1rem;
    @include flexCenter(column, 1rem);
    max-height: 40rem;
    height: 100%;
    background-color: $page-bg;
    max-width: 950px;
    box-shadow: 0px 0px 21px -3px rgba(0, 0, 0, 0.09);
    border-radius: 15px 0px;
    padding: 0.7rem;
    @include media($from: 'md') {
      flex-direction: row;
    }
    .btn-icon {
      position: absolute;
      top: 1rem;
      left: 1rem;
    }
    .authentication-content-wrapper {
      @include flexCenter(column, 1rem);
      width: 100%;
      .content-header-wrapper {
        @include flexCenter(column, 1.2rem);
      }
      .header-logo-wrapper {
        max-width: 10rem;
        min-width: 10rem;
        height: 100%;
        width: 100%;
        margin-bottom: 1rem;
        .header-logo {
          width: 100%;
          height: 100%;
        }
      }
      .header-info-wrapper {
        @include flexCenter(column, 0.5rem);
        margin-bottom: 1rem;
      }
      .content-form-wrapper {
        @include flexCenter(column, 1rem);
      }
      .content-alternatives-wrapper {
        margin-top: 1rem;
        @include flexCenter(column, 1.5rem);
        .alternatives-title-wrapper {
          @include flexCenter(row, 0.4rem);
        }
        .alt-line {
          height: 0.12rem;
          border-radius: 10px;
          background-color: hover-color($page-description, 15);
          width: 3rem;
        }
      }
    }
    .authentication-banner-wrapper {
      position: relative;
      width: 100%;
      height: 100%;
      max-width: 100%;
      max-height: 100%;
      display: none;
      border-radius: 15px 0px;
      @include media($from: 'md') {
        display: block;
      }
      .authentication-banner {
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 15px 0px;
      }
    }
  }
}
