@use '../abstracts' as *;
@use '../themes' as *;

.home-wrapper {
  width: 100%;
  .home-start-wrapper {
    padding: 1rem 1rem;
    @include flexCenter(row, 0);
    justify-content: space-between;
    @include media($from: 'md') {
      padding: 1rem 3rem;
    }
    .home-start-content-wrapper {
      @include flexCenter(column, 0.5rem);
      align-items: flex-start;
      .btn {
        margin-top: 1.5rem;
      }
    }
    .home-start-banner-wrapper {
      display: none;
      max-width: 35rem;
      min-width: 26rem;
      width: 100%;
      @include media($from: 'md') {
        display: block;
        padding: 1rem 3rem;
      }
    }
  }
  .home-events-wrapper {
    padding: 1rem;
    width: 100%;
    .home-events-header {
      width: 100%;
      @include flexCenter(column, 1rem);
      align-items: flex-start;
      @include media($from: 'md') {
        flex-direction: row;
        justify-content: space-between;
      }
      .home-events-title-wrapper {
        width: 100%;
        @include flexCenter(column, 0);
        @include media($from: 'sm') {
          flex-direction: row;
          align-items: flex-start;
          gap: 0.5rem;
        }
        .home-events-info-wrapper {
          width: 100%;
          position: relative;
        }
      }
    }
    .home-events-body {
      margin-top: 1.5rem;
      width: 100%;
      @include flexCenter(column, 1rem);
      .body-events-wrapper {
        width: 100%;
        @include flexCenter(column, 2rem);
        align-items: flex-start;
      }
      .body-events-footer {
        width: 100%;
        text-align: center;
      }
    }
  }
}
