@use '../abstracts' as *;
@use '../themes' as *;

button {
  font-family: $secondary-font;
  font-weight: 600;
  font-size: 0.9rem;
  transition: 0.2s;
}

.btn {
  padding: 0;
  @include flexCenter(row, 0);
  border-radius: 10px;
  border: none;
  background-color: transparent;
  &.sm {
    padding: 0.1rem 0.5rem;
  }
  &.md {
    padding: 0.4rem 1rem;
  }
  &.xl {
    padding: 0.5rem 2rem;
  }
  &.xxl {
    padding: 0.7rem 3rem;
  }
  &.btn-filled {
    background-color: $app-accent;
    color: $page-bg;

    @include on-hover {
      background-color: hover-color($app-accent, 5);
    }
    &:active {
      background-color: hover-color($app-accent, 5);
    }
  }
  &.btn-outline {
    color: $app-accent;
    border: 2px solid $app-accent;
    @include on-hover {
      color: hover-color($app-accent, 10);
      border-color: hover-color($app-accent, 10);
    }
    &:active {
      color: hover-color($app-accent, 10);
      border-color: hover-color($app-accent, 10);
    }
  }
  &.btn-icon {
    color: $input-text;
    @include on-hover {
      color: hover-color($input-text, 15);
    }
    &:active {
      color: hover-color($input-text, 15);
    }
  }
  &.btn-text {
    color: $input-text;
    @include on-hover {
      color: hover-color($input-text, 15);
    }
    &:active {
      color: hover-color($input-text, 15);
    }
  }
}

.events-info-button {
  border-radius: 100%;
  border: none;
  background-color: $home-info-bg;
  color: $home-info;
  padding: 0;
  width: 1.2rem;
  height: 1.2rem;
  @include on-hover {
    background-color: hover-color($home-info-bg, -5);
  }
  &:active {
    background-color: hover-color($home-info-bg, -5);
  }
}

.location-find-button {
  border-radius: 10px;
  border: none;
  width: 2.5rem;
  height: 2rem;
  padding: 0;
  background-color: $input-bg;
  color: $input-icon;
  @include flexCenter(row, 0);
  @include on-hover {
    background-color: hover-color($input-bg, -2);
    color: hover-color($input-icon, -10);
  }
  &:active {
    background-color: hover-color($input-bg, -2);
    color: hover-color($input-icon, -10);
  }
  &.founded {
    color: $filter-founded;
  }
  &.error {
    color: $filter-error;
  }
}

.filter-btn {
  min-width: 7.5rem;
  width: 100%;
  border-radius: 8px;
  border: none;
  padding: 0.4rem 0.5rem;
  background-color: $input-bg;
  color: $input-text;
  @include flexCenter(row, 0.1rem);
  justify-content: space-between;
  svg {
    color: $input-icon;
  }
  @include on-hover {
    background-color: hover-color($input-bg, -2);
    color: hover-color($input-text, -10);
    .selector-date-icon {
      color: hover-color($input-icon, -10);
    }
  }
  &:active {
    background-color: hover-color($input-bg, -2);
    color: hover-color($input-text, -10);
  }
}

.geocoder-result-button {
  padding: 1rem 1rem;
  width: 100%;
  background-color: $input-bg;
  color: $input-text;
  border: none;
  border-radius: 8px;
  @include on-hover {
    background-color: hover-color($input-bg, -5);
  }
  &:active,
  &:focus {
    background-color: hover-color($input-bg, -5);
    color: hover-color($input-text, -10);
  }
  &.active {
    background-color: hover-color($app-accent, 15);
  }
}

.share-event-button {
  border-radius: 5px;
  padding: 0.1rem;
  width: 1.5rem;
  color: $input-text;
  border: none;
  background-color: transparent;
  @include flexCenter(row, 0);
  @include on-hover {
    color: hover-color($input-text, 15);
  }
}

.event-button {
  color: $input-text;
  padding: 0;
  background-color: transparent;
  border: none;
  height: 2rem;
  width: 2rem;
  border-radius: 5px;
  @include flexCenter(row, 0);
  transition: 0.1s;
  @include on-hover {
    color: hover-color($input-text, 15);
  }
}

.event-button--participate {
  font-family: $secondary-font;
  color: $event-bg;
  background-color: $app-accent;
  border: none;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  margin-left: 2rem;
  @include on-hover {
    background-color: hover-color($app-accent, 5);
  }
  &:active,
  &:focus {
    background-color: hover-color($app-accent, 5);
  }
}

.hamburger {
  @include media($from: 'md') {
    display: none;
  }
  -webkit-tap-highlight-color: transparent;
  padding: 0;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: $menu-burger-button;
}

.hamburger-box {
  width: 2rem;
  height: 1.5rem;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 2rem;
  height: 3px;
  background-color: $menu-burger-button;
  border-radius: 8px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: '';
  display: block;
}
.hamburger-inner::before {
  top: -8px;
}
.hamburger-inner::after {
  bottom: -8px;
}

.hamburger--3dy .hamburger-box {
  perspective: 80px;
}

.hamburger--3dy .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1),
    background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.hamburger--3dy .hamburger-inner::before,
.hamburger--3dy .hamburger-inner::after {
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dy.is-active .hamburger-inner {
  background-color: transparent !important;
  transform: rotateX(-180deg);
}
.hamburger--3dy.is-active .hamburger-inner::before {
  transform: translate3d(0, 8px, 0) rotate(45deg);
}
.hamburger--3dy.is-active .hamburger-inner::after {
  transform: translate3d(0, -8px, 0) rotate(-45deg);
}
