@use '../abstracts' as *;
@use '../themes' as *;

.filter-wrapper {
  margin-top: 0.5rem;
  width: 100%;
  @include flexCenter(column, 0.5rem);
  align-items: flex-start;
  @include media($from: 'md') {
    align-items: center;
  }
  .filter-location-wrapper {
    width: 100%;
    @include flexCenter(column, 0.3rem);
    align-items: flex-start;
    .filter-location-content {
      @include flexCenter(row, 0.5rem);
    }
  }
  .filter-selectors-wrapper {
    width: 100%;
    @include flexCenter(row, 1rem);
    justify-content: flex-start;
    align-items: flex-end;
    .selectors-range-wrapper {
      @include flexCenter(column, 0.3rem);
      align-items: flex-start;
      position: relative;
    }
    .react-datepicker {
      background-color: $input-bg;
      font-family: $secondary-font;
      border: 1px solid $footer-border;
      border-radius: 8px;
      .react-datepicker__day--selected {
        background-color: $input-icon;
      }
      .react-datepicker__triangle {
        display: none;
      }
      .react-datepicker__header {
        background-color: hover-color($input-bg, 4);
        border-radius: 8px 8px 0 0;
      }
    }
  }
}
