@use '../abstracts' as *;
@use '../themes' as *;

.navbar-wrapper {
  opacity: 1;
  width: 100%;
  border-bottom: 0.1rem solid #d3d3d3;
  padding: 0.1rem 1rem;
  height: 3.7rem;
  @include flexCenter(row, 0);
  .navbar-content-wrapper {
    width: 100%;
    @include flexCenter(row, 0);
    justify-content: space-between !important;
    .navbar-logo-wrapper {
      max-width: 9rem;
      min-width: 9rem;
      height: 100%;
      width: 100%;
      margin-right: 0.5rem;
      @include flexCenter(row, 0);
      .navbar-logo {
        width: 100%;
        height: 100%;
      }
    }
    &.sticky {
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      margin-top: -1px;
      animation: smoothScroll 250ms;
      background-color: $page-bg;
      position: fixed;
      height: 3rem;
      top: 0;
      padding: 0.1rem 1rem;
      z-index: 1005;
      border-bottom: 0.1rem solid #d3d3d3;
    }
    .navbar-links-wrapper {
      display: none;
      @include media($from: 'md') {
        display: flex;
      }
      flex-direction: row;
      gap: 1rem;
      align-items: center;
      justify-content: center;
    }
    .navbar-sublinks-wrapper {
      display: none;
      @include media($from: 'md') {
        display: block;
      }
    }
    .navbar-menu-wrapper {
      @include media($from: 'md') {
        display: none;
      }
      .navbar-menu--content {
        &.sticky {
          top: 3rem;
          z-index: 1005;
        }
        left: 0;
        top: 3.7rem;
        position: absolute;
        background-color: $menu-bg;
        width: 100%;
        max-width: 1200px;
        left: 50%;
        z-index: 1005;
        border-bottom: 1px solid $menu-border;
        @include flexCenter(column, 1rem);
        justify-content: space-between;
        padding: 1rem 2rem;
        -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        .navbar-menu--links {
          list-style: none;
          @include flexCenter(column, 0.5rem);
          width: 100%;
          padding-bottom: 0.5rem;
          .menu--link {
            text-align: start;
            max-width: 100%;
            min-width: 100%;
            width: 100%;
            padding: 0.7rem 0.8rem 0.1rem 0.8rem;
            border-bottom: 1px solid rgba(0, 0, 0, 0.116);
          }
        }
        .navbar-menu--footer {
          width: 100%;
          @include flexCenter(row, 0.5rem);
          justify-content: flex-start;
        }
      }
    }
  }
}
